.react-select{
    &-container{
        height: 28px!important;
        min-width: 140px!important;
       
    }
    &__control{
        min-height: 28px!important;
        height: 28px!important;
        border-radius: 15px!important;
        border: 0!important;
        &--menu-is-open{
            border-radius: 5px 5px 0 0!important;
            .react-select__indicator::before{
                transform: rotate(180deg)!important;
            }
        }
    }
    &__single-value{
        font-size: 12px;
        color: #b8b8b8;
        font-weight: 600;
    }
    &__value-container{
        height: 100%;
        padding-inline-start: 15px!important
    }
    &__indicators{
        height: 100%;
    }
    &__input-container{
        padding: 0!important;
        margin: 0!important;       
    }
    &__input{
       &::placeholder{
        font-size: 12px;
        color: #b8b8b8;
       }     
    }
    &__indicator{
        svg{
            display: none;
        }
        &::before{
            content: "";
            width: 11px;
            height: 14px;
            background: url(../../imgs/bodyicons/downarrow.png);
        }
    }
    &__indicator-separator{
        display: none;
    }
    &__menu{
        box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 16%)!important;
        background-color: #fff !important;
        border:0 0 8px 8px;
        border-top: none;
        margin-top: -1px!important;
        z-index: 9999;
    }
}