 .header_chart {
     margin-bottom: 0px !important;
     border-bottom: 0px solid transparent !important;
 }

 @media only screen and (max-width: 767px) {
     .header_chart {
         flex-direction: row !important;
     }
 }

 .responsive_box .primary_select {
     border: 0px solid transparent !important;
 }

 .section_title h1 {
     font-size: 24px !important;
 }

 .responsive_box .dataTables_filter>label,
 .xd_courses_table.card_box .dataTables_filter>label {
     /*box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 21%) !important;*/
 }

 .responsive_box .section_title::before {
     margin-top: 0px !important;
 }

 tr {
     text-align: center !important;
 }

 .responsive_box .select2-search__field {
     height: 100% !important;
     line-height: 11px !important;
 }

 .responsive_box .select2-selection--multiple {
     min-height: 33px !important;
     /* height: 33px !important; */
     line-height: 30px !important;
 }

 .responsive_box .select2-selection__choice {
     font-size: 11px !important;
     height: 27px !important;
     margin: 1px !important;
     padding: 0px 16px !important;
     line-height: 26px !important;
 }

 .responsive_box .time .boxed_input {
     width: 100% !important;
 }

 .responsive_box .header_chart {
     padding-bottom: 0 !important;
 }

 .responsive_box .group-span-filestyle.input-group-btn {
     width: 100%;
     text-align: right;
 }

 .responsive_box .group-span-filestyle.input-group-btn label {
     text-align: right;
 }

 .arrow_part[aria-expanded="true"] .chevron_down {
     transform: rotate(180deg) !important;
 }

 @media(max-width:567px) {

     .whats-new {
         display: none !important;
     }
 }


 .add__content .modal-content {
     background-color: #f2f3f7;
     border-radius: 35px;
     padding: 0 15px;
     max-width: 340px !important;
     margin: auto !important;
     border: 0px solid transparent !important;
 }

 .add__content .modal-content .modal-header {
     border-bottom-color: #70707010;
 }

 .add__content .modal-content .modal-header .modal-title {
     position: relative;
     font-size: 16px;
     color: #525f77;
 }

 .add__content .modal-content .modal-header .modal-title::before {
     content: '';
     position: absolute;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: #29BCB0;
     right: -15px;
     top: 50%;
     transform: translateY(-50%);
 }

 .add__content .modal-content .modal-header .close-btn {
     background-color: #fff;
     border-radius: 50%;
     border: none;
     width: 25px;
     height: 25px;
 }

 .add__content .modal-content .modal-footer {
     border-top-color: transparent !important;
     align-items: center;
     justify-content: center;
 }

 .add__content .modal-content .modal-footer button {
     background-color: #29bcb0;
     font-size: 12px;
 }

 .add__content input {
     border-radius: 31px;
     border: 0.1px solid #f2f2f2;
     padding: 5px 15px;
     color: #9f9f9f;
     font-weight: 700;
     font-size: 14px;
     appearance: none;
     height: 34px;
 }

 .add__content .box_action {
     background-color: #fff;
     border-radius: 10px;
     padding: 13px 6px;
     margin-left: 5px;
     font-size: 11px;
     font-weight: 700;
     color: #525c72;
     height: 24px;
     display: flex;
     align-items: center;
     text-align: center;
     width: 120px;
 }

 .add__content .box_action span {
     padding-right: 10px;
 }

 .add__content .box_action.youtube {
     background-color: #29bcb0 !important;
     padding-right: 15px;
     color: #fff;
 }

 .add__content .frist_section p {
     border-bottom: 1px solid #70707010;
     font-size: 9px;
     margin-top: 10px;
     margin-bottom: 10px !important;
     padding-bottom: 5px;
     color: #525f77;
 }

 .add__content .modal-header {
     background-color: transparent !important;
 }

 .add__content ::placeholder {
     color: #9f9f9f !important;
 }

 #category-form select {
     width: 100% !important;
 }

 #category-form .primary_select,
 #submit-form .primary_select,
 #addQuiz .primary_select,
 #category-form select,
 #submit-form select,
 #addQuiz select,
 #category-form input,
 #submit-form input,
 #addQuiz input,
 .box__input .primary_select,
 .box__input select,
 .box__input input {
     width: 100% !important;
     padding: 0px 15px !important;
     height: 40px !important;
 }

 .box__input .course-discription {
     width: 100% !important;
 }

 .primary_input_label,
 .input-effect label:not('.fix-gr-bg'),
 .form-group label {
     font-size: 12px !important;
     color: #828BB2 !important;
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
 }

 .form-text {
     font-size: 12px !important;
 }

 .permission_list label {
     font-size: 14px !important;
     font-weight: 600;
 }

 .header_chart h3 {
     font-size: 20px !important;
 }

 .error-message {
     display: block;
     width: 100%;
     /* top: 74px; */
     top: 50px !important;
     height: 0px !important;
 }

 #add_student .error-message {
     top: 50px !important;
     height: 0px !important;
 }

 .invalid-feedback strong {
     top: 0px !important;
 }

 .admin-query.add__content .modal-content {
     max-width: 600px !important;
 }

 .box__input .select2-container .select2-search--inline .select2-search__field {
     /* height: auto !important; */
     line-height: 34px;
     min-height: 39px !important;
 }

 #coupon-form .error-message {
     top: 69px !important;
     /* height: 0px !important; */
 }

 .tab_part .nav-link.active {
     background-color: #29BCB0 !important;
 }


 .collapse_content .right_part .select2-selection--single {
     border-radius: 31px !important;
     border: 0px solid #aaa !important;
     padding: 5px 15px !important;
     color: #8f2222 !important;
     font-weight: 700 !important;
     font-size: 10px !important;
     appearance: none !important;
     height: 33px !important;
     background-color: #F2F3F7 !important;
 }

 .custom__upload div {
     width: 100%;
     border-radius: 35px;
     background-color: rgb(242 243 247);
     border: 1px solid rgb(242, 242, 242);
     font-size: 10px;
     color: #525C72;
     position: relative;
     padding: 5px 15px;
     height: 24px;
     cursor: pointer;
     line-height: 10px;
 }

 .custom__upload div img {
     position: absolute;
     top: 0px;
     left: 10px;
     height: 24px;

 }

 .certfication_tabel .form-check .form-check-label {
     font-size: 11px;
     color: #525C72;
     width: 10px;
 }

 .certfication_tabel .firstVisibleChild span {
     font-weight: 800 !important;
     /* color:#29bcb0 !important; */
 }

 .certfication_tabel .QA_table tbody td {
     /* color:transparent !important */
 }

 @media(min-width:992px) and (max-width:1150px) {
     .med-new-content .left-sidebar .links-container {
         padding: 7px !important;
     }

     .med-new-content .left-sidebar .link-box-top .box span {
         font-size: 8px;
     }

 }

 @media(max-width:1300px) and (min-width:1200px) {

     ::placeholder,
     span.current {
         font-size: 12px !important;
     }
 }

 @media(max-width:576px) {

     ::placeholder,
     span.current {
         font-size: 12px !important;
     }
 }




 /*********************************** student dashboard**************************************/
 .med-new-content .cards-container .Card .main-title {
     height: 19px;
     overflow: hidden;
 }

 /* hashed by mostafa saeed */

 /* .avatar-img-box img {
    width: 35px !important;
    height: 35px !important;
} */
 .med-new-content .search-box input {
     width: 100%;
     height: 100%;
 }

 .account_profile_wrapper .account_profile_thumb h4 {
     box-shadow: 0px 7px #29bcb04f !important;
 }

 .chat-container .chat-box li .chat-text-wrapper .chat-text p {
     word-break: break-all !important;
 }

 .chat-users-container .users-container ul.users-list li a .users-list-body .chat-msg {
     max-width: 192px;
 }

 @media(max-width:576px) {
     .empty-chat-screen {
         width: 100% !important;
     }

     .about-the-course .img-box {
         width: 100% !important;
     }
 }

 .profile_info span {
     font-size: 14px !important;
     color: #B8B8B8 !important;
 }



 .course__box .has-error {
     position: relative;
 }

 .course__box .form-error.help-block {
     width: 0 !important;
     position: absolute !important;
     /* font-size: 12px !important; */
     top: 35px !important;
 }

 .remove_add_quiz_section .form-check {
     min-height: auto !important;
     width: 100% !important;
 }

 .remove_add_quiz_section .form-check label {
     display: flex !important;
 }

 .custom_radio .custom_radio_content,
 .custom__radio_buttons {
     width: 100% !important;
 }