.section_title {
  color: #525C72;
  font-size: 24px;
  font-weight: 800;
  padding-right: 19px;
  position: relative;
}
.left_links {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}
.left_links a {
  color: #525C72;
  font-size: 13px;
  font-weight: 700;
  padding: 0 2px;
}
.left_links a:hover {
  text-decoration: underline;
}
.left_links a .bi-slash-lg {
  font-size: 20px;
  transform: rotate(90deg);
}
.left_links a .bi-slash-lg::before {
  transform: rotate(135deg);
  font-size: 20px;
  color: #525C72;
}
.left_links a .bi-chevron-left {
  font-size: 15px;
  font-weight: 900;
  color: #525C72;
}

.card_box {
  background-color: #fff;
  border-radius: 31px;
  width: 100%;
  position: relative;
  padding: 27px 23px;
}
.card_box .add_course {
  background-color: #29BCB0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  position: absolute;
  right: 2px;
  top: -25px;
}
.card_box .title {
  color: #3B459C;
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
}
.card_box .title::before {
  right: 13px !important;
  top: 34px !important;
}
.card_box .card_info {
  background-color: #F7F8FB;
  padding: 17px 17px;
  position: relative;
  border-radius: 31px;
  padding-bottom: 30px;
}
.card_box .card_info .card_info_title {
  color: #3B459C;
  font-size: 18px;
  font-weight: 600;
  padding-right: 22px;
}
.card_box .card_info .card_info_title::before {
  right: 13px !important;
  top: 25px !important;
}
.card_box .card_info select,
.card_box .card_info input {
  width: 90%;
}
.card_box .card_info select,
.card_box .card_info input,
.card_box .card_info .primary_select,
.card_box .card_info .select2-selection--single {
  border-radius: 31px;
  border: 0.1px solid #F2F2F2;
  padding: 5px 15px;
  color: #9F9F9F;
  font-weight: 700;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 33px;
}
.card_box .card_info select:focus,
.card_box .card_info input:focus,
.card_box .card_info .primary_select:focus,
.card_box .card_info .select2-selection--single:focus {
  outline: none !important;
}
.card_box .card_info select::-moz-placeholder, .card_box .card_info input::-moz-placeholder, .card_box .card_info .primary_select::-moz-placeholder, .card_box .card_info .select2-selection--single::-moz-placeholder {
  font-size: 14px;
  color: #9F9F9F;
  font-weight: 700;
  padding: 0 !important;
  line-height: unset;
}
.card_box .card_info select:-ms-input-placeholder, .card_box .card_info input:-ms-input-placeholder, .card_box .card_info .primary_select:-ms-input-placeholder, .card_box .card_info .select2-selection--single:-ms-input-placeholder {
  font-size: 14px;
  color: #9F9F9F;
  font-weight: 700;
  padding: 0 !important;
  line-height: unset;
}
.card_box .card_info select::placeholder,
.card_box .card_info select .select2-selection__rendered,
.card_box .card_info input::placeholder,
.card_box .card_info input .select2-selection__rendered,
.card_box .card_info .primary_select::placeholder,
.card_box .card_info .primary_select .select2-selection__rendered,
.card_box .card_info .select2-selection--single::placeholder,
.card_box .card_info .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  color: #9F9F9F;
  font-weight: 700;
  padding: 0 !important;
  line-height: unset;
}
.card_box .card_info .bi-caret-left-fill {
  color: #D5D4D4;
  font-size: 22px;
}
@media (max-width: 600px) {
  .card_box .card_info .bi-caret-left-fill {
    display: none;
  }
}
.card_box .card_info .time span {
  font-size: 14px;
  color: #9F9F9F;
  font-weight: 700;
  margin: 0 10px;
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .card_box .card_info .time span {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .card_box .card_info .time span {
    font-size: 12px;
  }
}
.card_box .card_info .time input {
  width: 72px;
  text-align: center;
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .card_box .card_info .time input {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .card_box .card_info .time input {
    width: 60px;
  }
}
.card_box .card_info .time .training_hours {
  width: 101px;
  margin-left: 5px;
}
.card_box .card_info .time .toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}
.card_box .card_info .time .toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 54px;
  height: 26px;
  background: #fff;
  border: 0.1px solid #F2F2F2;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
}
.card_box .card_info .time .toggle label:after {
  content: "";
  background: #CFCFCF;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
.card_box .card_info .time .toggle input:checked + label {
  background: #fff;
}
.card_box .card_info .time .toggle input:checked + label:after {
  background: #29BCB0;
}
.card_box .card_info .time .toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.card_box .card_info .time .training_salary {
  width: 225px;
  margin-left: 4px;
  text-align: right;
}
@media (max-width: 1200px) {
  .card_box .card_info .time .training_salary {
    width: 100% !important;
  }
}
.card_box .card_info .time .image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 33px;
  background-color: #fff;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  margin-right: 9px;
  border-radius: 31px;
  padding: 4px 14px;
}
.card_box .card_info .create_group {
  width: 90%;
  background-color: #29BCB0;
  border-radius: 31px;
  height: 33px;
  padding: 4px 14px;
  color: #fff;
  font-weight: 700;
}
.card_box .card_info .create_group img {
  width: 15px;
}
.card_box .card_info .group_content {
  border-top: 0.1px solid rgba(112, 112, 112, 0.1294117647);
  margin-top: 15px;
}
.card_box .card_info .group_content .delet_tag {
  background-color: #FF4141;
  padding: 5px;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.card_box .card_info .start_end_date input {
  width: 131px;
}
.card_box .card_info .create_group.level {
  background-color: #fff;
  color: #9F9F9F;
  margin-right: 9px;
}
.card_box .card_info .create_group.level img {
  background-color: #29BCB0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
}
.card_box .card_info .course-discription {
  height: 100px;
  border-radius: 31px;
  border: 0.1px solid #F2F2F2;
  padding: 5px 15px;
  color: #9F9F9F;
  font-weight: 700;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 90%;
  resize: none;
  outline: none;
  padding: 10px 15px;
}
.card_box .card_info .course-discription::-moz-placeholder {
  font-size: 14px;
  color: #9F9F9F;
}
.card_box .card_info .course-discription:-ms-input-placeholder {
  font-size: 14px;
  color: #9F9F9F;
}
.card_box .card_info .course-discription::placeholder {
  font-size: 14px;
  color: #9F9F9F;
}

.circle_before, .section_title::before, .card_box .title::before, .card_box .card_info .card_info_title::before {
  content: "";
  position: absolute;
  width: 12px;
  margin-top: 3px;
  height: 12px;
  background-color: #29BCB0;
  right: 0px;
  border-radius: 50%;
  top: 10px;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 10px;
}

.select2-container--open .select2-dropdown--above {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #F2F2F2;
  border-radius: 35px;
  outline: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  color: #9F9F9F;
}

.select2-container--default .select2-search--inline .select2-search__field {
  font-size: 13px;
  margin-top: 0;
  width: unset !important;
  padding: 0 10px;
}
.select2-container--default .select2-search--inline .select2-search__field::-moz-placeholder {
  color: #9F9F9F;
  font-weight: 600;
}
.select2-container--default .select2-search--inline .select2-search__field:-ms-input-placeholder {
  color: #9F9F9F;
  font-weight: 600;
}
.select2-container--default .select2-search--inline .select2-search__field::placeholder {
  color: #9F9F9F;
  font-weight: 600;
}

.bootstrap-filestyle {
  width: 225px;
}
@media (max-width: 1200px) {
  .bootstrap-filestyle {
    width: 100%;
  }
}
.bootstrap-filestyle .form-control {
  display: none;
}
.bootstrap-filestyle .group-span-filestyle {
  margin: 0 !important;
  width: 200px;
}
.bootstrap-filestyle .group-span-filestyle label {
  margin-bottom: 0;
  width: 220px;
  border-radius: 35px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
}
@media (max-width: 1200px) {
  .bootstrap-filestyle .group-span-filestyle label {
    width: 100%;
  }
}

.submit-btn {
  background-color: #29BCB0;
  color: #fff;
  padding: 5px 25px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.select2-selection__choice {
  border-radius: 20px !important;
}

#popupModal .modal-content {
  background-color: #F2F3F7;
  border-radius: 35px;
  padding: 0 35px;
}
#popupModal .modal-content .modal-header {
  border-bottom-color: rgba(112, 112, 112, 0.062745098);
  background-color: transparent !important;
}
#popupModal .modal-content .modal-header .modal-title {
  position: relative;
  font-size: 16px;
  color: #525F77;
}
#popupModal .modal-content .modal-header .modal-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29BCB0;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
#popupModal .modal-content .modal-header .close-btn {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
}
#popupModal .modal-content .modal-footer {
  border-top-color: rgba(112, 112, 112, 0.062745098);
  align-items: center;
  justify-content: center;
}

.popupModal .modal-content {
  background-color: #F2F3F7;
  border-radius: 35px;
  padding: 0 35px;
}
.popupModal .modal-content .modal-header {
  border-bottom-color: rgba(112, 112, 112, 0.062745098);
  background-color: transparent !important;
}
.popupModal .modal-content .modal-header .modal-title {
  position: relative;
  font-size: 16px;
  color: #525F77;
}
.popupModal .modal-content .modal-header .modal-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29BCB0;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.popupModal .modal-content .modal-header .close-btn {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
}
.popupModal .modal-content .modal-footer {
  border-top-color: rgba(112, 112, 112, 0.062745098);
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px) {
  .card_box .card_info .form-error.help-block {
    font-size: 10px !important;
    top: 35px !important;
  }
}
@media (max-width: 425px) {
  .card_box .card_info .mt-3 {
    margin-top: 20px !important;
  }
}
.card_box .card_info .duration[type=date] {
  width: 150px !important;
}
@media (max-width: 600px) {
  .card_box .card_info .duration[type=date] {
    width: 150px !important;
  }
}/*# sourceMappingURL=courses.css.map */