// variables
$main_course_color:#525C72;
$circle_color:#29BCB0;
$blue_color:#3B459C;
$gray_color:#9F9F9F;

//  mixins
@mixin flex($dir, $content, $items) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $dir;
}

///////////////////////  courses style ///////////////////////////
.section_title {
    color: $main_course_color;
    font-size: 24px;
    font-weight: 800;
    padding-right: 19px;
    position: relative;

    &::before {
        @extend .circle_before;
    }
}

.left_links {
    @include flex(row, end, center);

    a {
        color: $main_course_color;
        font-size: 13px;
        font-weight: 700;
        padding: 0 2px;

        &:hover {
            text-decoration: underline;
        }

        .bi-slash-lg {
            font-size: 20px;
            transform: rotate(90deg);

            &::before {
                transform: rotate(135deg);
                font-size: 20px;
                color: $main_course_color
            }
        }

        .bi-chevron-left {
            font-size: 15px;
            font-weight: 900;
            color: $main_course_color
        }
    }
}

.card_box {
    background-color: #fff;
    border-radius: 31px;
    width: 100%;
    position: relative;
    margin-top: 30px;
    padding: 27px 23px;

    .add_course {
        background-color: $circle_color;
        @include flex(row, center, center);
        width: 44px;
        height: 44px;
        border-radius: 10px;
        position: absolute;
        right: 2px;
        top: -25px;
    }

    .title {
        color: $blue_color;
        font-size: 20px;
        font-weight: 600;
        padding-right: 10px;

        &::before {
            @extend .circle_before;
            right: 13px !important;
            top: 34px !important;
        }
    }

    .card_info {
        background-color: #F7F8FB;
        padding: 17px 17px;
        position: relative;
        border-radius: 31px;
        padding-bottom: 30px;

        .card_info_title {
            color: $blue_color;
            font-size: 18px;
            font-weight: 600;
            padding-right: 22px;

            &::before {
                @extend .circle_before;
                right: 13px !important;
                top: 25px !important;
            }
        }

        select,
        input {
            width: 90%;
        }

        select,
        input,
        .select2-selection--single {
            border-radius: 31px;
            border: 0.1px solid #F2F2F2;
            padding: 5px 15px;
            color: $gray_color;
            font-weight: 700;
            font-size: 14px;
            appearance: none;
            height: 33px;
            &:focus {
                outline: none !important;
            }

            &::placeholder,
            .select2-selection__rendered {
                font-size: 14px;
                color: $gray_color;
                font-weight: 700;
                padding: 0 !important;
                line-height: unset;
            }
        }

        .bi-caret-left-fill {
            color: #D5D4D4;
            font-size: 22px;
            @media(max-width:600px){
                display:  none;
            }
        }

        .time {
            span {
                font-size: 14px;
                color: $gray_color;
                font-weight: 700;
                margin: 0 10px;
                @media(max-width:1300px) and (min-width:1200px){
                    font-size: 12px;
                }
                @media(max-width:600px){
                    font-size: 12px;
                }
            }

            input {
                width: 72px;
                text-align: center;
                @media(max-width:1300px) and (min-width:1200px){
                    width:60px;
                }
                @media(max-width:600px){
                    width:60px;
                }
            }

            .training_hours {
                width: 101px;
                margin-left: 5px;
            }

            .toggle {
                input[type=checkbox] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                    display: none;
                }

                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 54px;
                    height: 26px;
                    background: #fff;
                    border: 0.1px solid #F2F2F2;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    position: relative;
                }

                label:after {
                    content: "";
                    background: #CFCFCF;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    position: absolute;
                    top: 3px;
                    left: 4px;
                    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
                }

                input:checked+label {
                    background: #fff;

                    &:after {
                        background: $circle_color;
                    }
                }

                input:checked+label:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }

            }

            .training_salary {
                width: 225px;
                margin-left: 4px;
                text-align: right;
                @media(max-width:1200px){
                    width: 100% !important;
                }
            }



            .image {
                width: fit-content;
                height: 33px;
                background-color: #fff;
                border-radius: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #F2F2F2;
                margin-right: 9px;
                border-radius: 31px;
                padding: 4px 14px;
            }
        }

        .create_group {
            width: 90%;
            background-color: $circle_color;
            border-radius: 31px;
            height: 33px;
            padding: 4px 14px;
            color: #fff;
            font-weight: 700;

            img {
                width: 15px
            }
        }

        .group_content {
            border-top: .1px solid #70707021;
            margin-top: 15px;

            .delet_tag {
                background-color: #FF4141;
                padding: 5px;
                border-radius: 10px;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
            }
        }

        .start_end_date {
            input {
                width: 131px;
            }
        }

        .create_group.level {
            background-color: #fff;
            color: $gray_color;
            margin-right: 9px;
            img {
                background-color: $circle_color;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                padding: 5px;
            }
        }

        .course-discription {
            height: 100px;
            border-radius: 31px;
            border: 0.1px solid #F2F2F2;
            padding: 5px 15px;
            color: $gray_color;
            font-weight: 700;
            font-size: 14px;
            appearance: none;
            width: 90%;
            resize: none;
            outline: none;
            padding: 10px 15px;

            &::placeholder {
                font-size: 14px;
                color: $gray_color;
            }
        }
    }
}



// global classes

.circle_before {
    content: '';
    position: absolute;
    width: 12px;
    margin-top: 3px;
    height: 12px;
    background-color: $circle_color;
    right: 0px;
    border-radius: 50%;
    top: 10px;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 10px;
}

.select2-container--open .select2-dropdown--above {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #F2F2F2;
    border-radius: 35px;
    outline: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    color: $gray_color;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-size: 13px;
    margin-top: 0;
    width: unset !important;
    padding: 0 10px;

    &::placeholder {
        color: $gray_color;
        font-weight: 600;
    }
}

// customize the file upload style 
.bootstrap-filestyle {
    width: 225px;
    @media(max-width:1200px){
        width: 100%;
    }
    .form-control {
        display: none;
    }

    .group-span-filestyle {
        margin: 0 !important;
        width: 200px;

        label {
            margin-bottom: 0;
            width: 220px;
            border-radius: 35px;
            background-color: #fff;
            border: 1px solid #F2F2F2;
            @media(max-width:1200px){
                width: 100%;
            }
        }
    }
}

.submit-btn {
    background-color: $circle_color;
    color: #fff;
    padding: 5px 25px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 15px;
}

.select2-selection__choice {
    border-radius: 20px !important;
}

#popupModal {
    .modal-content {
        background-color: #F2F3F7;
        border-radius: 35px;
        padding: 0 35px;

        .modal-header {
            border-bottom-color: #70707010;
            background-color: transparent !important;

            .modal-title {
                position: relative;
                font-size: 16px;
                color: #525F77;

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $circle_color;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .close-btn {
                background-color: #fff;
                border-radius: 50%;
                border: none;
                width: 25px;
                height: 25px;
            }
        }

        .modal-footer {
            border-top-color: #70707010;
            align-items: center;
            justify-content: center;
        }
    }


}