/* ......from ......Modules\Admin\Resources\views\super_admin\master.blade.php */
    .toast-warning {
        background-color: #F89406 !important;
    }

    .toast-error {
        background-color: red !important;
    }
/* ......from ......Modules\Api\Resources\views\student.blade.php*/
    video {
        width: 100%;
        max-width: 640px;
    }

    /* Everything but the jumbotron gets side spacing for mobile first views */
    .header, .marketing, .footer {
        padding: 15px;
    }

    /* Custom page header */
    .header {
        padding-bottom: 20px;
    }

    /* Customize container */
    @media ( min-width : 768px) {
        .container {
            max-width: 730px;
        }
    }

    .container-narrow>hr {
        margin: 30px 0;
    }

    /* Main marketing message and sign up button */
    .jumbotron {
        text-align: center;
    }

    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header, .marketing, .footer {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .options {
        display:none;
    }
    .message_area {
        height: 300px;
        overflow-y: auto;
        border-style: groove;
        border-width: thin;
        background-color: white;
    }
/*...............................................*/
table {
    text-align:center
}
/*.........from........Modules\Appearance\Resources\views\customize\create.blade.php*/
    .card_box .card_info input{
        height: 33px !important;
        background: #fff !important;
        padding: 5px 15px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px !important;
    }
    .card_box .card_info label{
        font-size: 10px;
        color:#525C72;
    }
    .card_box .card_info p{
        font-size: 12px;
        font-weight: 600;
        color:#525C72;
    }
