/*shared_style*/

@media (min-width:992px) {
    .p-7px-end{
        padding-inline-end: 7px;
    }
    .p-7px-start{
        padding-inline-start: 7px;
    }
}
@media (max-width:992px) {
    .p-sm-7px-end{
        padding-inline-end: 7px;
    }
    .p-sm-7px{
        padding-inline: 7px!important;
    }
    .p-sm-7px-start{
        padding-inline-start: 7px;
    }
}
@media (max-width: 576px) {
    .p-mobile-0{
        padding-inline-end: 0px!important;
        padding-inline-start: 0px!important;
    }
    .p-mobile-0-end{
        padding-inline-end: 0!important;
    }
    .p-mobile-0-start{
        padding-inline-start: 0!important;
    }
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-end{
    display: flex;
    justify-content: end;
}
.indexResponsive .hello-user{
    padding: 25px 20px!important;
}
@media (max-width: 576px) {
    .indexResponsive .hello-user{
        margin-bottom:10px ;
        height: unset;
    }
}
.indexResponsive .hello-user .hello-text{
    font-size: 22px;
    font-weight: 500;
}
.indexResponsive .m-user-subscriptions{
    padding: 10px 26px;
}
.indexResponsive .m-user-subscriptions .def{
    font-size: 16px!important;
    font-weight: 500!important;
    margin-bottom: 0!important;
}
.indexResponsive .m-user-subscriptions .m-subscription-name{
    margin-inline-start: 7px;
}
.indexResponsive .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{
    left: 7px!important;
}
.indexResponsive .dropDowns .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: 0!important;
    background: url('../imgs/down.png');
    width: 14px;
    height: 11px;
    margin-top: 0;
    margin-left: 0;
    transform: translateY(-50%);
    left: 0;
    transition: all .3s ease-in-out;
}
.indexResponsive .dropDowns .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    transform: rotate(180deg) translateY(50%)!important;
}
.indexResponsive .dropDowns .icon.icon-more{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.indexResponsive .cards-container .owl-carousel .owl-nav .owl-prev,
.indexResponsive .cards-container .owl-carousel .owl-nav .owl-next{
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.indexResponsive .cards-container {
    position: relative;
}
@media (max-width: 576px) {
.indexResponsive .cards-container .cards-owl{
    position: unset;
    width: calc(100% - 68px);
} }
/*********************courses***********************/
.xd_courses_table.card_box{
  background-color: transparent!important;
}
@media (max-width:576px) {
    .xd_courses_table.card_box{
        padding: 0!important;
        margin-top: 10px!important;
    }
    .xd_courses_table.card_box .classList.cards{
        padding: 0!important;
    }
    .xd_courses_table.card_box .dataTables_filter>label{
        margin-bottom: 0!important;
        margin-inline: auto;
    }
}
.xd_courses_table.card_box table.dataTable{
    border-spacing: 0 10px!important;
}
.xd_courses_table.card_box .QA_table tbody th,
.xd_courses_table.card_box .QA_table tbody td{
    border-bottom: 0!important;
}
html[dir="rtl"] .xd_courses_table.card_box .table.dataTable tbody th,
html[dir="rtl"] .xd_courses_table.card_box table.dataTable tbody td:first-child{
    border-radius:0 8px 8px 0!important;
}
html[dir="rtl"] .xd_courses_table.card_box table.dataTable tbody td:first-child:last-child{
    border-radius: 8px!important;
}
.xd_courses_table.card_box .QA_table .table td.lastVisibleChild {
    border-radius:8px 0 0 8px!important;
    }
.xd_courses_table.card_box .QA_table .table  th.lastVisibleChild {
    border-radius:8px 0 0 8px!important;
    }
.xd_courses_table.card_box .QA_table .table.cards td.firstVisibleChild {
    border-radius: 8px 8px 0 0!important;
    }
.xd_courses_table.card_box .QA_table .table.cards  th.firstVisibleChild {
    border-radius: 8px 8px 0 0!important;
    }
.xd_courses_table.card_box table.dataTable.display tbody tr.selected > .sorting_1,
.xd_courses_table.card_box table.dataTable.order-column.stripe tbody tr.selected > .sorting_1{
    background-color: white!important;
}
.xd_courses_table.card_box table.dataTable tbody tr.selected{
    background-color: transparent;
    box-shadow: 0 0 0 2px #29BCB0!important;
    border-radius: 8px!important;
}
/******************************************************************/
@media (max-width:576px) {
    .xd_courses_table.card_box .cards tbody tr {
        width: 336px;
        margin: auto;
        border-radius: 8px;
        /* background-color: white; */
     }

    .xd_courses_table.card_box .table.dataTable tbody tr td.inline-cell a{
        display: inline!important;
    }
    .xd_courses_table td.inline-cell .CRM_dropdown.dropdown .dropdown-toggle{
        height:auto!important ;
        padding-block: 0!important;
    }
    html[dir="rtl"] .xd_courses_table.card_box table.dataTable.cards tbody th,
    html[dir="rtl"] .xd_courses_table.card_box table.dataTable.cards tbody td:first-child{
        border-radius: 8px 8px 0 0!important;
    }
    .xd_courses_table.card_box .QA_table .table.cards td.lastVisibleChild{
        border-radius: 0 0 8px 8px !important;
    }
    .xd_courses_table.card_box .QA_table .table.cards td.lastVisibleChild.inline-cell{
        border-radius: 0!important;
        border-bottom-left-radius: 8px!important;
    }

    .xd_courses_table.card_box table.dataTable.display tbody tr.odd.selected > .sorting_1,
    .xd_courses_table.card_box table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1{
        background-color: white!important;
    }
    .xd_courses_table.card_box .cards tbody td {
        display: block;
        padding: 7px 40px;
        font-size: 14px;
        color: #3B459C!important;
        font-weight: 900;
        text-align: left!important;
     }

     .xd_courses_table.card_box .cards thead {
        display: none;
     }

     .xd_courses_table.card_box .cards td:before {
        content: attr(data-label);
        position: relative;
        float: right;
        color: #091B3D!important;
        min-width: 4rem;
        margin-right: 0;
        margin-left: 1rem;
        text-align: right;
     }
     /**************************************/
     .xd_courses_table.card_box .table.dataTable tbody tr td.d-table-cell,
     .xd_courses_table.card_box .table.dataTable tbody tr th.d-table-cell{
         display: none!important;
     }
     .xd_courses_table.card_box .table.dataTable tbody tr td.inline-cell,
     .xd_courses_table.card_box .table.dataTable tbody tr th.inline-cell{
         display: inline-block!important;
         width: 33.3333%;
         font-weight: normal!important;
     }
     .xd_courses_table.card_box .table.dataTable tbody tr td.inline-cell.bord-rad-right{
         border-radius: 0!important;
         border-bottom-right-radius: 8px!important;
 
     }
     .xd_courses_table.card_box .table.dataTable tbody tr td.inline-cell.bord-rad-left{
         border-radius: 0!important;
         border-bottom-left-radius: 8px!important;
     }

}
@media (min-width:576px) {
.xd_courses_table.card_box .table.dataTable tbody tr td.d-table-cell,
.xd_courses_table.card_box .table.dataTable tbody tr th.d-table-cell{
    display: table-cell!important;
 }
}
