// variables
$backgroundColor: #f2f3f7;
$mainColor: #29bcb0;
$secoundryColor: #3b459c;
$lightSecoundry: #4c75f3;
$borderColor: #eaeaea;
$blackText: #373737;
$lightText: #b8b8b8;

// global rules
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }
}

.avatar-img-box {
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

.main-title {
    color: $secoundryColor;
}

html {
    overflow-x: hidden;
}

body {
    background-color: $backgroundColor;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    position: relative;
}

// dots and lyer style
.left-dots,
.right-dots {
    position: absolute;
    top: 95px;
}

.left-dots {
    left: -70px;
}

.right-dots {
    right: -70px;
}

.bottom-dots {
    position: absolute;
    bottom: -105px;
    left: 100px;
}

.bottom-layer {
    position: absolute;
    bottom: -120px;
    left: 100px;
}

// header style
.main-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    border-radius: 40px;
    flex-basis: 18%;

    .main-title {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 600;
    }
}

.news {
    border-radius: 40px;
    flex-basis: 37%;
    gap: 0.25rem;
    justify-content: space-around;

    marquee {
        font-size: 10px;
        color: $lightText;
        font-weight: 600;
    }

    i {
        color: $mainColor;
    }
}

.search-box {
    border-radius: 40px;
    flex-basis: 15%;
    gap: 0.75px;

    i {
        color: $mainColor;
        font-weight: bold;
    }

    input {
        border: none;
        outline: none;
        width: 150px;
        font-weight: 600;
        font-size: 10px;
        color: $lightText;
        padding: 0 10px;

        &::placeholder {
            text-align: center;
            font-weight: 600;
            font-size: 10px;
            color: $lightText;
        }
    }
}

.logo-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    border-radius: 40px;
    flex-basis: 24%;
    gap: 0.75rem;
    justify-content: space-evenly;

    span {
        font-size: 10px;
        font-weight: 600;
        color: $lightText;
    }

    .icons-box {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

// right sidebar style
.right-sidebar {
    .navbar {
        height: 100%;
        padding: 20px 10px;
        border-radius: 25px;
        margin: 0;
        background-color: #fff;
        border: 1px solid $borderColor;

        .nav-item {
            list-style: none;
            padding: 5px 20px;
            width: 100%;
            color: #6d6d78;
            font-weight: 600;
        }

        .nav-item.active {
            position: relative;
            overflow: hidden;
            border-radius: 30px;
            background-color: $mainColor;
            position: relative;
            z-index: 1;
            color: #fff;

            &::before {
                content: "";
                position: absolute;
                width: 60px;
                height: 50px;
                border-radius: 50%;
                background-color: $secoundryColor;
                opacity: 0.33;
                right: 0px;
                top: -10px;
                z-index: 0;
            }
        }
    }
}

// left sidebar style
.left-sidebar {

    // links container
    .links-container {
        border-radius: 30px;
        padding: 20px;
        border: 1px solid $borderColor;
    }

    .link-box-top {
        .box {
            background-color: $backgroundColor;
            border-radius: 20px;
            padding: 10px;
            align-items: center;
            justify-content: center;

            span {
                font-size: 10px;
                font-weight: 600;
                color: $secoundryColor;
            }
        }

        .box.active {
            background-color: $mainColor;

            span {
                color: #fff;
            }
        }
    }

    .link-box-bottom {
        .box {
            background-color: $backgroundColor;
            border-radius: 20px;
            padding: 10px;
            align-items: center;
            justify-content: center;

            span {
                font-size: 10px;
                font-weight: 600;
                color: $secoundryColor;
            }
        }

        .box.active {
            background-color: $secoundryColor;

            span {
                color: #fff;
            }
        }
    }

    // whats new
    .whats-new {
        border-radius: 30px;
        padding: 20px;
        border: 1px solid $borderColor;

        .title {
            position: relative;
            margin-right: 15px;

            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $mainColor;
                bottom: 50%;
                right: -20px;
                transform: translateY(50%);
            }
        }

        .whats-new-links {
            .link {
                background-color: #ebebeb;
                border-radius: 15px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .text {
                    color: #172239;
                    font-size: 12px;
                    font-weight: 400;
                    margin: 10px;
                    text-transform: capitalize;
                    text-align: left;
                }

                .orangeCircle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #ffcb57;
                }

                .pinkCircle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #fc77a0;
                }

                .greenCircle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #29bcb0;
                }

                .blueCircle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3b459c;
                }
            }
        }
    }

    // adds style
    .adds {
        border-radius: 30px;
        border: 1px solid $borderColor;
        overflow: hidden;
    }
}

// ain content area style
.dotted-circles {
    width: 150px;
    position: absolute;
    z-index: -1;
    right: -40px;
    top: 20px;
}

.hello-user {
    height: 100%;
    padding: 30px 20px;
    border-radius: 30px;
    border: 1px solid $borderColor;
    position: relative;
    margin: 0;

    .hello-text {
        color: $secoundryColor;
    }

    .m-user-name {
        color: #6d6d78;
    }
}

.m-user-subscriptions {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid $borderColor;

    .def {
        color: $secoundryColor;
        font-weight: 600;
    }

    .m-subscription-name {
        span {
            color: $lightText;
            font-size: 12px;
            font-weight: 600;
            transition: 0.5s;
        }

        &:hover {
            span {
                color: $mainColor;
            }
        }
    }
}

.m-another-subscriptions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;

    span {
        color: $lightText;
        font-size: 12px;
        font-weight: 600;
    }

    .m-number-of-subscriptions {
        color: $secoundryColor;
    }

    .icon {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }
}

// the secound row 
.dropDowns {
    .select2-container--default {
        width: 140px !important;

        .select2-selection--single {
            border: none;
            border-radius: 15px;
            padding: 0 10px;

            .select2-selection__rendered {
                color: $lightText;
                font-size: 12px;
                font-weight: 600;
                padding-left: 10px;
            }

            .select2-selection__arrow b {
                border-color: $mainColor transparent transparent transparent;
            }
        }
    }

    .select2-container--default.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    border-color: transparent transparent $mainColor transparent;
                }
            }
        }
    }

    .icon {
        border-radius: 50%;
    }
}


// select custom style 
// =================================================================================================================================
.select2-dropdown--below {
    border: none;
}

.select2-search--dropdown {
    display: none;
}

.select2-results {
    padding: 4px;
}

.select2-results__option--selectable {
    font-size: 12px;
}

.select2-container--default .select2-results__option--selected {
    background-color: $mainColor;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $secoundryColor;
    border-radius: 10px;
    font-size: 12px;
}

.select2-container--open .select2-dropdown--below {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// .cards area 
.cards-container {
    .Card {
        background-color: #fff;
        border-radius: 25px;
        padding: 15px 5px;

        &.active {
            background-color: $mainColor;

            .main-number {
                color: #fff;

            }

            .main-title {
                color: #fff;

            }
        }

        .perc {
            color: $lightText;
            font-size: 14px;
            font-weight: 700;

            &::before {
                content: '%';
                position: absolute;
                left: -12px;
                top: -5px;
                font-size: 12px;
                font-weight: 700;
            }
        }

        .attend {
            color: $secoundryColor;
            font-size: 16px;
            font-weight: 700;
        }

        .main-number {
            color: $mainColor;
            margin-bottom: 0;
            font-weight: 700;
        }

        .main-title {
            color: $lightText;
            margin-bottom: 0;
            font-weight: 700;
        }
    }
}

// culender area styles 
.culender {
    .title {
        color: #525C72;

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $mainColor;
            border-radius: 50%;
        }
    }

    .select2-container--default {
        width: 100px !important;

        .select2-selection--single {
            border: none;
            border-radius: 15px;
            padding: 0 10px;

            .select2-selection__rendered {
                color: $lightText;
                font-size: 14px;
                font-weight: 700;
                padding-left: 10px;
            }

            .select2-selection__arrow b {
                border-color: $mainColor transparent transparent transparent;
            }
        }
    }

    .select2-container--default.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    border-color: transparent transparent $mainColor transparent;
                }
            }
        }
    }

    .tabs {
        padding: 0 20px;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .tab {
            padding: 5px 10px;
            font-size: 14px;
            color: $lightText;
            font-weight: 700;

            &.active {
                background-color: $mainColor;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
}

.content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;

    .owl-card {
        border-radius: 20px;
        padding: 15px;
        border: 1px solid $borderColor;

        h6 {
            font-size: 18px;
            font-weight: 700;
        }

        &.exams {
            background-color: $mainColor;
            color: #fff;

            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $secoundryColor;
                border-radius: 50%;
                right: 10px;
                top: 25px;
            }
        }
    }
}