* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

.avatar-img-box {
  border-radius: 50% !important;
  overflow: hidden !important;
  width: 40px !important;
  height: 40px !important;
}
.avatar-img-box img {
  width: 100% !important;
  height: 100% !important;
}

.main-title {
  color: #3b459c;
}

html {
  overflow-x: hidden;
}

body {
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
  background-color: #f2f3f7;
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  position: relative;
  overflow: hidden;
}

.left-dots,
.right-dots {
  position: absolute;
  top: 95px;
}

.left-dots {
  left: -70px;
}

.right-dots {
  right: -70px;
}

.bottom-dots {
  position: absolute;
  bottom: -105px;
  left: 100px;
}

.bottom-layer {
  position: absolute;
  bottom: -120px;
  left: 100px;
}

.med-new-content #rightSidebar {
  transition: 1s;
}
@media (max-width: 992px) {
  .med-new-content #rightSidebar.hidden {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 250px;
    z-index: 9999;
  }
  .med-new-content #rightSidebar.active {
    position: fixed;
    top: 70px;
    right: 2.5%;
    z-index: 9999;
    width: 250px;
    height: 575px;
    overflow: scroll;
  }
  .med-new-content #rightSidebar.active::-webkit-scrollbar {
    width: 0px;
  }
  .med-new-content #rightSidebar.active::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .med-new-content #rightSidebar.active::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    background-color: #29bcb0;
  }
  .med-new-content #rightSidebar.active::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5019607843);
    position: fixed;
    top: 0;
    right: 0;
  }
  .med-new-content #rightSidebar.active .right-sidebar .navbar {
    box-shadow: 5px 10px 25px -10px rgba(0, 0, 0, 0.5019607843);
  }
}
.med-new-content .toggeler-box {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.med-new-content .main-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  border-radius: 40px;
  width: 275px;
  height: 44px;
}
@media (max-width: 450px) {
  .med-new-content .main-head {
    width: unset;
  }
}
.med-new-content .main-head .main-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.med-new-content .news {
  border-radius: 40px;
  gap: 0.25rem;
  justify-content: space-around;
  height: 44px;
}
.med-new-content .news marquee {
  font-size: 10px;
  color: #b8b8b8;
  font-weight: 600;
}
.med-new-content .news i {
  color: #29bcb0;
}
.med-new-content .search-box {
  border-radius: 40px;
  width: 215px;
  gap: 0.75px;
  z-index: 1;
  height: 44px;
}
@media (max-width: 992px) {
  .med-new-content .search-box {
    width: 100%;
    height: 50px;
  }
}
.med-new-content .search-box i {
  color: #29bcb0;
  font-weight: bold;
}
.med-new-content .search-box input {
  border: none;
  outline: none;
  width: 150px;
  font-weight: 600;
  font-size: 10px;
  color: #b8b8b8;
  padding: 0 10px;
}
.med-new-content .search-box input::-moz-placeholder {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #b8b8b8;
}
.med-new-content .search-box input:-ms-input-placeholder {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #b8b8b8;
}
.med-new-content .search-box input::placeholder {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #b8b8b8;
}
.med-new-content .logo-img {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.med-new-content .profile {
  border-radius: 40px;
  gap: 0.75rem;
  justify-content: space-evenly;
  width: 315px;
  height: 44px;
}
.med-new-content .profile .user-name {
  font-size: 10px;
  font-weight: 600;
  color: #b8b8b8;
}
.med-new-content .profile .icons-box {
  display: flex;
  align-items: center;
  gap: 7px;
}
.med-new-content .notafications-number {
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -5px;
  color: #fff;
  font-size: 12px;
}
.med-new-content .noficationbox {
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  left: 0;
  top: 60px;
  z-index: 999;
  box-shadow: 5px 10px 25px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s all ease;
}
.med-new-content .noficationbox.bottom {
  top: -500px;
}
.med-new-content .noficationbox.bottom.hidden {
  top: 250px;
}
.med-new-content .noficationbox.hidden {
  top: -800px;
}
.med-new-content .noficationbox .notify h5 {
  color: #373737;
}
.med-new-content .noficationbox .notify h5::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #29bcb0;
  border-radius: 50%;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.med-new-content .noficationbox .read {
  padding: 2px 15px;
  background-color: #29bcb0;
  border-radius: 20px;
  color: #fff;
}
.med-new-content .noficationbox .all-notafications {
  max-height: 285px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.med-new-content .noficationbox .all-notafications::-webkit-scrollbar {
  width: 5px;
}
.med-new-content .noficationbox .all-notafications::-webkit-scrollbar-track {
  background-color: #b8b8b8;
  border-radius: 20px;
}
.med-new-content .noficationbox .all-notafications::-webkit-scrollbar-thumb {
  background: #3b459c;
  border-radius: 10px;
}
.med-new-content .noficationbox .all-notafications::-webkit-scrollbar-thumb:hover {
  background: #4c75f3;
}
.med-new-content .noficationbox .all-notafications .notafication-content {
  background-color: #f2f3f7;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0 5px;
  width: calc(100% - 10px);
}
.med-new-content .noficationbox .all-notafications .notafication-content.unread {
  background-color: #fff;
}
.med-new-content .noficationbox .all-notafications .image {
  width: 50px;
}
.med-new-content .noficationbox .all-notafications .image img {
  width: 45px;
}
.med-new-content .noficationbox .all-notafications .text-box h6 {
  font-size: 14px;
  font-weight: 600;
  color: #3b459c;
  margin-bottom: 0;
}
.med-new-content .noficationbox .all-notafications .text-box p {
  font-size: 10px;
  font-weight: 500;
  color: #b8b8b8;
  margin-bottom: 0;
  padding: 0 0 0 15px;
  word-break: break-word;
}
.med-new-content .noficationbox .see-all {
  margin-top: 15px;
  border-top: 1px solid #eaeaea;
}
.med-new-content .noficationbox .see-all a {
  color: #3b459c;
  font-size: 14px;
  font-weight: 600;
}
.med-new-content .right-sidebar .navbar {
  padding: 20px 10px;
  border-radius: 25px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
  font-size: 1rem;
}
.med-new-content .right-sidebar .navbar .nav-item {
  list-style: none;
  padding: 5px 20px;
  width: 100%;
  border-radius: 30px;
  color: #6d6d78;
  font-weight: 600;
  transition: 0.5s;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .med-new-content .right-sidebar .navbar .nav-item span {
    font-size: 14px;
  }
}
.med-new-content .right-sidebar .navbar .nav-item.active {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background-color: #29bcb0;
  position: relative;
  z-index: 1;
  color: #fff;
}
.med-new-content .right-sidebar .navbar .nav-item.active::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 125%;
  border-radius: 50%;
  background-color: #3b459c;
  opacity: 0.33;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.med-new-content .left-sidebar .links-container {
  border-radius: 30px;
  padding: 20px;
  border: 1px solid #eaeaea;
}
@media (max-width: 425px) {
  .med-new-content .left-sidebar .links-container .content-box {
    gap: 0.25rem !important;
    margin-bottom: 5px !important;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .med-new-content .left-sidebar .link-box-top {
    width: 23% !important;
  }
}
.med-new-content .left-sidebar .link-box-top .box {
  background-color: #f2f3f7;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 425px) {
  .med-new-content .left-sidebar .link-box-top .box {
    width: 65px !important;
    padding: 10px 0;
  }
}
.med-new-content .left-sidebar .link-box-top .box span {
  font-size: 10px;
  font-weight: 600;
  color: #3b459c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 45px;
}
.med-new-content .left-sidebar .link-box-top .box.active {
  background-color: #29bcb0;
}
.med-new-content .left-sidebar .link-box-top .box.active span {
  color: #fff;
}
.med-new-content .left-sidebar .link-box-top .box.active i {
  color: #fff !important;
}
.med-new-content .left-sidebar .link-box-bottom .box {
  background-color: #f2f3f7;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.med-new-content .left-sidebar .link-box-bottom .box span {
  font-size: 10px;
  font-weight: 600;
  color: #3b459c;
}
.med-new-content .left-sidebar .link-box-bottom .box.active {
  background-color: #3b459c;
}
.med-new-content .left-sidebar .link-box-bottom .box.active span {
  color: #fff;
}
.med-new-content .left-sidebar .whats-new {
  border-radius: 30px;
  padding: 20px;
  border: 1px solid #eaeaea;
}
.med-new-content .left-sidebar .whats-new .title {
  position: relative;
  margin-right: 15px;
}
.med-new-content .left-sidebar .whats-new .title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #29bcb0;
  bottom: 50%;
  right: -20px;
  transform: translateY(50%);
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link {
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link .text {
  color: #172239;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
  text-transform: capitalize;
  text-align: left;
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link .orangeCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffcb57;
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link .pinkCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fc77a0;
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link .greenCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29bcb0;
}
.med-new-content .left-sidebar .whats-new .whats-new-links .link .blueCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3b459c;
}
.med-new-content .left-sidebar .adds {
  border-radius: 30px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}
.med-new-content .dotted-circles {
  width: 150px;
  position: absolute;
  z-index: -1;
  right: -40px;
  top: 20px;
}
.med-new-content .hello-user {
  height: 100%;
  padding: 30px 20px;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  position: relative;
  margin: 0;
}
.med-new-content .hello-user .hello-text {
  color: #3b459c;
}
.med-new-content .hello-user .m-user-name {
  color: #6d6d78;
  font-size: 1.15rem;
}
.med-new-content .m-user-subscriptions {
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid #eaeaea;
}
@media (max-width: 992px) {
  .med-new-content .m-user-subscriptions {
    width: unset;
  }
}
.med-new-content .m-user-subscriptions .def {
  color: #3b459c;
  font-weight: 600;
}
.med-new-content .m-user-subscriptions .m-subscription-name span {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 600;
  transition: 0.5s;
}
.med-new-content .m-user-subscriptions .m-subscription-name:hover span {
  color: #29bcb0;
}
.med-new-content .m-another-subscriptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.med-new-content .m-another-subscriptions span {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 600;
}
.med-new-content .m-another-subscriptions .m-number-of-subscriptions {
  color: #3b459c;
}
.med-new-content .m-another-subscriptions .icon {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.med-new-content .dropDowns .select2-container--default {
  width: 140px !important;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .dropDowns .select2-container--default {
    width: 148px !important;
  }
}
.med-new-content .dropDowns .select2-container--default .select2-selection--single {
  border: none;
  border-radius: 15px;
  padding: 0 10px;
}
.med-new-content .dropDowns .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}
.med-new-content .dropDowns .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #29bcb0 transparent transparent transparent;
}
.med-new-content .dropDowns .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #29bcb0 transparent;
}
.med-new-content .dropDowns .icon {
  border-radius: 50%;
}
.med-new-content .cards-container .owl-dots {
  margin-top: 10px;
}
@media (max-width: 600px) {
  .med-new-content .cards-container .owl-dots {
    display: none;
  }
}
.med-new-content .cards-container .owl-dots .owl-dot:hover span {
  background: #29bcb0;
}
.med-new-content .cards-container .owl-dots .owl-dot.active span {
  background: #29bcb0;
}
.med-new-content .cards-container .owl-carousel.culender .owl-nav {
  margin-top: 0;
  position: absolute;
  left: -15px;
  display: none;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  .med-new-content .cards-container .owl-carousel.culender .owl-nav {
    display: flex;
  }
}
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-prev span::before {
  content: "\f053";
}
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-next span::before {
  content: "\f054";
}
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-prev,
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-next {
  margin: 5px;
  padding: 10px !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  display: flex;
  font-size: 20px;
}
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-prev span,
.med-new-content .cards-container .owl-carousel.culender .owl-nav .owl-next span {
  color: #29bcb0;
}
.med-new-content .cards-container .Card {
  background-color: #fff;
  border-radius: 25px !important;
  padding: 20px 5px;
  margin-bottom: 10px;
  border: none;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .cards-container .Card {
    padding: 15px 0;
    height: 108px;
    width: 106px !important;
  }
}
.med-new-content .cards-container .Card .card-head img {
  width: 20px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .cards-container .Card .card-head img {
    width: 15px;
  }
}
.med-new-content .cards-container .Card.active {
  background-color: #29bcb0;
}
.med-new-content .cards-container .Card.active .main-number {
  color: #fff;
}
.med-new-content .cards-container .Card.active .main-title {
  color: #fff;
}
.med-new-content .cards-container .Card .perc {
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .cards-container .Card .perc {
    font-size: 12px;
  }
}
.med-new-content .cards-container .Card .perc::before {
  content: "%";
  position: absolute;
  left: -12px;
  top: -5px;
  font-size: 12px;
  font-weight: 700;
}
.med-new-content .cards-container .Card .attend {
  color: #3b459c;
  font-size: 16px;
  font-weight: 700;
}
.med-new-content .cards-container .Card .main-number {
  color: #29bcb0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}
.med-new-content .cards-container .Card .main-title {
  color: #b8b8b8;
  margin-bottom: 0;
  font-weight: 700;
  margin-top: unset;
}
.med-new-content .culender .title {
  color: #525c72;
}
.med-new-content .culender .title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #29bcb0;
  border-radius: 50%;
}
.med-new-content .culender .select2-container--default {
  width: 100px !important;
}
.med-new-content .culender .select2-container--default .select2-selection--single {
  border: none;
  border-radius: 15px;
  padding: 0 10px;
}
.med-new-content .culender .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
}
.med-new-content .culender .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #29bcb0 transparent transparent transparent;
}
.med-new-content .culender .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #29bcb0 transparent;
}
.med-new-content .culender .tabs {
  padding: 0 20px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.med-new-content .culender .tabs .tab {
  padding: 5px 10px;
  font-size: 14px;
  color: #b8b8b8;
  font-weight: 700;
}
.med-new-content .culender .tabs .tab.active {
  background-color: #29bcb0;
  color: #fff;
  border-radius: 10px;
}
.med-new-content .circle-box {
  background-color: #fff;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
}
.med-new-content .circle-box .outer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid #d8d8d8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.med-new-content .circle-box .outer .inner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #525c72;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.med-new-content .circle-box svg {
  position: absolute;
  top: -15px;
  left: -15px;
}
.med-new-content .circle-box svg .cir-1 {
  fill: none;
  stroke: #29bcb0;
  stroke-width: 15px;
}
.med-new-content .circle-box svg .cir-2 {
  fill: none;
  stroke: #4c75f3;
  stroke-width: 15px;
}
.med-new-content .circle-box svg .cir-3 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 15px;
}
.med-new-content .certificate-area .certificate {
  padding: 0px 10px;
  border-radius: 40px;
}
.med-new-content .certificate-area .certificate h5 {
  color: #000;
  margin-bottom: 0;
}
.med-new-content .certificate-area .certificate.not-ready {
  background-color: #fff;
}
.med-new-content .certificate-area .certificate.not-ready span {
  font-size: 14px;
  color: #b8b8b8;
}
.med-new-content .certificate-area .certificate.ready {
  position: relative;
  background-color: #ffcf65;
}
.med-new-content .certificate-area .certificate.ready span {
  font-size: 14px;
  color: #3b459c;
  font-weight: bold;
}
.med-new-content .certificate-area .certificate.ready i {
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.med-new-content .content-box {
  background-color: #fff;
  padding: 4px 0;
  border-radius: 25px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .content-box {
    width: 100%;
  }
}
.med-new-content .content-box .owl-card {
  border-radius: 30px;
  padding: 15px;
  border: 1px solid #eaeaea;
  height: 135px;
}
.med-new-content .content-box .owl-card h6 {
  font-size: 18px;
  font-weight: 700;
}
.med-new-content .content-box .owl-card.exams {
  background-color: #29bcb0;
  color: #fff;
}
.med-new-content .content-box .owl-card.exams::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #3b459c;
  border-radius: 50%;
  right: 10px;
  top: 25px;
}
.med-new-content .content-box .owl-card.exams .exams-text {
  font-size: 13px;
  font-weight: 700;
}
.med-new-content .content-box .owl-card.exams .exams-type {
  font-size: 12px;
  font-weight: 600;
  color: #3b459c;
}
.med-new-content .content-box .owl-card.trains {
  background-color: #3b459c;
  color: #fff;
}
.med-new-content .content-box .owl-card.trains::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #29bcb0;
  border-radius: 50%;
  right: 10px;
  top: 25px;
}
.med-new-content .content-box .owl-card.trains .train-text {
  font-size: 14px;
  font-weight: 700;
}
.med-new-content .content-box .owl-card.trains .train-type {
  font-size: 12px;
  font-weight: 600;
  color: #b8b8b8;
}
.med-new-content .content-box .owl-card .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fc77a0;
}
.med-new-content .content-box .owl-dots {
  display: none;
}
.med-new-content .content-box .owl-carousel .owl-nav {
  margin-top: 0;
  position: absolute;
  left: -45px;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}
.med-new-content .content-box .owl-carousel .owl-nav .owl-prev span::before {
  content: "\f053";
}
.med-new-content .content-box .owl-carousel .owl-nav .owl-next span::before {
  content: "\f054";
}
.med-new-content .content-box .owl-carousel .owl-nav .owl-prev,
.med-new-content .content-box .owl-carousel .owl-nav .owl-next {
  margin: 5px;
  padding: 10px !important;
  background-color: #F2F3F7 !important;
  border-radius: 10px !important;
  display: flex;
  font-size: 20px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .med-new-content .content-box .owl-carousel .owl-nav .owl-prev,
.med-new-content .content-box .owl-carousel .owl-nav .owl-next {
    width: 32px !important;
    height: 32px !important;
    font-size: 16px;
  }
}
.med-new-content .content-box .owl-carousel .owl-nav .owl-prev span,
.med-new-content .content-box .owl-carousel .owl-nav .owl-next span {
  color: #29bcb0;
}
.med-new-content .card-box {
  background-color: #fff;
  border-radius: 25px;
}
.med-new-content .card-box.owl-card {
  height: 325px;
}
.med-new-content .card-box .img-box {
  background-color: #ffcb57;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.med-new-content .card-box .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.med-new-content .card-box .rating-box span {
  color: #b8b8b8;
  font-size: 12px;
}
.med-new-content .card-box .rating-box .rate .total-rate {
  font-size: 14px;
  font-weight: bold;
  color: #3b459c;
}
.med-new-content .card-box .text-box {
  flex: 1;
}
.med-new-content .card-box .course-name {
  color: #525c72;
}
.med-new-content .card-box .instractors {
  font-size: 12px;
  color: #b8b8b8;
}
.med-new-content .card-box .course-content .title {
  font-weight: 500;
  color: #3b459c;
}
.med-new-content .card-box .course-content .title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29bcb0;
  right: -20px;
  top: 60%;
  transform: translateY(-50%);
}
.med-new-content .card-box .course-content .number-of-courses {
  font-weight: bold;
  font-size: 16px;
  color: #373737;
}
.med-new-content .card-box .course-videos .video {
  padding: 3px 10px;
  background-color: #f7f8fb;
  border-radius: 30px;
  border: 1px solid #eaeaea;
}
.med-new-content .card-box .course-videos .video .video-name .box {
  padding: 5px 15px;
  background-color: #29bcb0;
  margin-right: -25px;
  border-radius: 10px;
}
.med-new-content .card-box .course-videos .video .video-name .box .fa-clipboard {
  color: #fff;
}
.med-new-content .card-box .course-videos .video .video-name .name {
  font-weight: 700;
  color: #373737;
  margin-bottom: 0;
}
.med-new-content .card-box .course-videos .video .duration {
  color: #b8b8b8;
  font-weight: 700;
  font-size: 14px;
}
.med-new-content .card-box .course-videos .video.active {
  background-color: #29bcb0;
}
.med-new-content .card-box .course-videos .video.active .video-name .box {
  background-color: #3b459c;
}
.med-new-content .card-box .course-videos .video.active .video-name .box i {
  color: #fff;
}
.med-new-content .card-box .course-videos .video.active .video-name .name {
  color: #fff;
}
.med-new-content .card-box .course-videos .video.active .duration {
  color: #fff;
}
.med-new-content .card-box .avalable-videos {
  margin-top: 10px;
}
.med-new-content .card-box .avalable-videos .number-of-pending {
  color: #b8b8b8;
  font-weight: 600;
}
.med-new-content .culender2 .title {
  color: #525c72;
}
.med-new-content .culender2 .title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #29bcb0;
  border-radius: 50%;
}
.med-new-content .culender2 .tabs {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.med-new-content .culender2 .tabs .tab {
  padding: 5px 10px;
  font-size: 14px;
  color: #b8b8b8;
  font-weight: 700;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
}
.med-new-content .culender2 .tabs .tab.active {
  background-color: #29bcb0;
  color: #fff;
  border-radius: 15px;
}
.med-new-content .culender2 .tabs .icon {
  border-radius: 10px;
}
.med-new-content .courses-box .courses .owl-nav {
  display: none;
}
.med-new-content .courses-box .courses .owl-dots {
  margin-top: 10px;
}
.med-new-content .courses-box .courses .owl-dots .owl-dot:hover span {
  background: #29bcb0;
}
.med-new-content .courses-box .courses .owl-dots .owl-dot.active span {
  background: #29bcb0;
}
.med-new-content .serviceCard {
  background: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1882352941);
  position: relative;
  margin: 15px 0;
}
.med-new-content .serviceCard .image-box {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  background-color: #fff;
}
.med-new-content .serviceCard .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.med-new-content .serviceCard .link-name {
  color: #767676;
}
.med-new-content .serviceCard .link-name:hover {
  text-decoration: underline;
}
.med-new-content .serviceCard .counter {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  background: #29bcb0;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.med-new-content .headerSection {
  border-radius: 15px;
  padding: 10px;
  box-shadow: -3px 5px 6px 3px #e0e0e0;
}
.med-new-content .headerSection .image-box {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.med-new-content .headerSection .image-box img {
  width: 100%;
  height: 100%;
}
.med-new-content .headerSection .text-box .name {
  font-size: 16px;
  font-weight: bold;
  color: #767676;
}
.med-new-content .headerSection .text-box .link {
  font-size: 12px;
}
.med-new-content .headerSection .left-area .btn {
  border: 1px solid #f0f0f0;
  padding: 5px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  color: #76768c;
  border-radius: 12px;
}
.med-new-content .headerSection .left-area .btn i {
  color: #29bcb0;
  font-size: 18px;
  margin: 3px 0 0 0;
}
.med-new-content .watch {
  top: -12px;
  left: 20px;
  font-size: 12px;
  padding: 0 10px;
  background: #707070;
  border-radius: 7px;
  color: #fff;
}
.med-new-content .video_screen {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
}
.med-new-content .theme__overlay {
  position: relative;
  z-index: 2;
}
.med-new-content .theme__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0b21;
  opacity: 0.4;
  z-index: -1;
}
.med-new-content .play_button {
  width: 70px;
  height: 50px;
  background: #29bcb0;
  border-radius: 15px;
  color: #3b459c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  transition: 0.3s;
  cursor: pointer;
}
.med-new-content .play_button:hover {
  background: #3b459c;
  color: #fff;
}
.med-new-content .inner_title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.med-new-content .course-details {
  font-size: 14px;
  color: #3B459C;
}

.shoping_wrapper .dark_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 8, 34, 0.4);
  z-index: 2222;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/* line 14, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .dark_overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 767.98px) {
  /* line 19, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
  .shoping_wrapper .chart_close {
    display: none;
  }
}
/* line 24, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 2223;
  height: 100%;
  /* width: 519px; */
  width: 450px;
  padding: 35px 15px 35px 15px;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  transition: 0.3s;
}

@media (max-width: 575.98px) {
  /* line 24, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
  .shoping_wrapper .shoping_cart {
    width: 100%;
    padding: 50px 25px 70px 26px;
  }
}
/* line 42, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart.active {
  opacity: 1;
  visibility: visible;
}

/* line 49, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .cart_header h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--system_secendory_color);
  margin-bottom: 15px;
}

/* line 56, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart {
  display: flex;
  position: relative;
  border-bottom: 1px solid #e1e2e6;
  align-items: center;
  padding: 20px 20px;
}

/* line 61, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart:last-child {
  margin-bottom: 30px;
}

.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .cart_content {
  padding: 0px 15px 0 20px;
}

/* line 68, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .thumb img {
  width: 120px;
}

/* line 73, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .cart_content h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: #373737;
  margin-bottom: 10px;
}

.remove_cart i {
  color: #a4a4a4;
  transition: color 0.3s ease-in-out;
}

.remove_cart i:hover {
  color: red !important;
}

/* line 80, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .cart_content p {
  font-size: 13px;
  font-weight: normal;
  color: #373737;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
}

/* line 87, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .cart_content p .multy_icon {
  display: inline-block;
  font-size: 14px;
  margin-right: 13px;
  margin-left: 5px;
  color: #373737;
}

/* line 94, ../../../../officeServer/www/infixlms_lv/public/frontend/infixlmstheme/scss/_cart.scss */
.shoping_wrapper .shoping_cart .shoping_cart_inner .single_cart .cart_content p .prise {
  color: #49a60a;
}

.select2-dropdown--below {
  border: none;
}

.select2-search--dropdown {
  display: none;
}

.select2-results {
  padding: 4px;
}

.select2-results__option--selectable {
  font-size: 12px;
}

.select2-container--default .select2-results__option--selected {
  background-color: #29bcb0;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3b459c;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
}

.select2-container--open .select2-dropdown--below {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-radius: 5px 5px 0 0;
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events .fc-daygrid-event {
  padding: 10px;
  border-radius: 15px;
  color: #f0f0f0;
  background-color: #3b459c;
  border: none;
  margin-bottom: 10px;
}
.fc .fc-daygrid-body-balanced .fc-daygrid-day-events .fc-daygrid-event:hover {
  color: #3b459c;
  background-color: #f0f0f0;
}
.fc .fc-daygrid-body-balanced .fc-daygrid-day-events .fc-daygrid-event .fc-daygrid-event-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fc .fc-more-popover {
  border-radius: 15px;
  overflow: hidden;
}
.fc .fc-more-popover .fc-popover-header {
  background-color: #f0f0f0;
  color: #3b459c;
  font-weight: bold;
  font-size: 14px;
}
.fc .fc-more-popover .fc-popover-body .fc-daygrid-event {
  background-color: #3b459c;
  color: #f0f0f0;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  padding: 10px 0;
}
.fc .fc-more-popover .fc-popover-body .fc-daygrid-event:hover {
  background-color: #f0f0f0;
  color: #3b459c;
}
.fc .fc-more-popover .fc-popover-body .fc-daygrid-event .fc-daygrid-event-dot {
  margin: 0 10px;
}
.fc .fc-more-popover .fc-popover-body .fc-daygrid-event .fc-event-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
  margin: auto;
  text-align: center;
}
@media (max-width: 560px) {
  .fc .fc-daygrid-day-frame {
    display: flex;
  }
  .fc .fc-daygrid-day-top {
    width: 100%;
    text-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .fc .fc-col-header-cell-cushion {
    font-size: 10px;
  }
}
@media (max-width: 560px) and (max-width: 420px) {
  .fc .fc-col-header-cell-cushion {
    font-size: 8px;
  }
}

.commissionsSection .nice-select {
  border: 1px solid #eaeaea;
}

#payment_method .nice-select {
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.single-summery .card-content {
  height: 100%;
}
.single-summery .card-content .gradient-color2 {
  font-size: 1.25rem;
}
@media (max-width: 578px) {
  .single-summery .card-content .gradient-color2 {
    font-size: 1rem;
  }
}

.input_box .error-message {
  right: 0 !important;
  font-size: 8px;
  top: 30px !important;
  margin-top: -7px;
  white-space: nowrap;
}

.form-error.help-block {
  right: 0 !important;
  font-size: 8px;
  top: 30px !important;
  white-space: nowrap;
  color: #dc3545 !important;
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  width: 100%;
}

.QA_section .QA_table tbody td a {
  border-radius: 5px;
}

.tab_part .main_collapese_card .inner_collapese_card .left_part textarea,
.tab_part .main_collapese_card .inner_big_cart .left_part textarea {
  height: 80px !important;
}

.tab_part .nav-link {
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  #delete_all_student .dataTables_length {
    top: -30px;
  }
}

.dataTables_wrapper .dataTables_length {
  position: absolute;
  top: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: unset;
  right: 50%;
  transform: translateX(40%);
}
@media (max-width: 767px) {
  .dataTables_wrapper .dataTables_length {
    top: -10px;
    left: 25px;
    right: unset;
  }
}
.dataTables_wrapper .dataTables_length select {
  background-color: #f2f3f7;
  color: #707070;
  padding: 0px 10px 0px 30px;
  border-radius: 20px;
  margin: 0 3px;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  background-image: url(../imgs/arrow-down.svg);
  background-size: 15px !important;
  background-repeat: no-repeat;
  background-position: 5px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}
.dataTables_wrapper .dataTables_length select option {
  margin: 40px;
  background: #fff;
  color: #707070;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 12px;
}

.result_sheet_wrapper .card_box {
  background: #f2f3f7;
  padding: 0;
}
.result_sheet_wrapper .quis-num {
  font-size: 14px;
  font-weight: bold;
}
.result_sheet_wrapper .quis-title {
  font-size: 14px;
  font-weight: bold;
  color: #828bb2;
}
.result_sheet_wrapper .quis-desc {
  font-size: 18px;
  font-weight: bold;
  color: #3b459c;
}
.result_sheet_wrapper .answ {
  color: #707070;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 15px;
  margin-top: 10px;
}
.result_sheet_wrapper .ans-state {
  color: #29bcb0;
  font-size: 12px;
  font-weight: bold;
}
.result_sheet_wrapper .question-p {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  gap: 10px;
}
.result_sheet_wrapper .question-p input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../imgs/new-icons/radio.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 0.5s;
}
.result_sheet_wrapper .question-p input:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../imgs/new-icons/radiochecked.svg");
}

.primary_checkbox input:checked ~ .checkmark {
  background: #00c3b3;
  box-shadow: none;
}

.result_sheet_wrapper .quiz_test_body .result_sheet_view .single_result_view {
  border: 1px solid #eaeaea !important;
  padding: 25px 50px !important;
  border-radius: 25px !important;
  background: #fff;
}

.modal-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}

.new-modal .modal-content {
  background-color: #fff !important;
  border-radius: 10px !important;
}
.new-modal .modal-content .close i {
  color: #404040;
}
.new-modal .modal-content .modal-title-1 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.new-modal .modal-content .row i {
  position: absolute;
  padding: 15px;
  color: #9ea1a5;
}
.new-modal .modal-content label {
  font-size: 13px;
  font-weight: bold;
  color: #393939;
}
.new-modal .modal-content input {
  border-radius: 5px;
  background: #f2f3f7;
  padding: 10px 40px;
  font-weight: 500;
  height: 45px;
}
.new-modal .modal-content .checkDiv .checkBox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../imgs/new-icons/radio.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
}
.new-modal .modal-content .checkDiv .checkBox:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../imgs/new-icons/radio-2.svg");
}
.new-modal .modal-content .checkDiv span {
  font-size: 14px;
  color: #b8b8b8;
}
.new-modal .modal-content .checkDiv a {
  font-size: 14px;
  color: #3b459c;
}
.new-modal .modal-content .price {
  font-size: 14px;
  font-weight: bold;
  color: #393939;
}
.new-modal .modal-content .price span {
  font-size: 14px;
  color: #b8b8b8;
}
.new-modal .modal-content .primary-btn {
  background-color: #3b459c;
  color: #fff;
  padding: 3px 15px;
  border-radius: 5px;
}
.new-modal .modal-content .primary-btn:hover {
  background-color: #1d2999;
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_filter {
    margin-top: 1.25rem;
  }
}

.swal2-popup {
  background-color: #F2F3F7 !important;
  border-radius: 35px !important;
  padding: 10px 15px !important;
  max-width: 340px !important;
  margin: auto !important;
  border: 0px solid transparent !important;
}
.swal2-popup .swal2-title {
  display: block;
  font-size: 16px;
  text-align: unset;
  color: #525F77;
  position: relative;
  margin: 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.swal2-popup .swal2-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29BCB0;
  right: -5px;
  top: 50%;
}
.swal2-popup .swal2-html-container {
  color: #000 !important;
  font-size: 1.25rem !important;
}
.swal2-popup .swal2-cancel {
  display: inline-block;
  background: #edeff6 !important;
  border: 1px solid #eee !important;
  border-radius: 25px !important;
  padding: 3px 20px;
  font-size: 14px !important;
  color: #415094 !important;
  font-weight: bold;
  box-shadow: none !important;
}
.swal2-popup .swal2-confirm {
  background: #29bcb0 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  padding: 3px 20px;
  box-shadow: none !important;
  outline: none;
  font-size: 14px !important;
  font-weight: bold;
}

.domain {
  padding: 6px 70px 6px 10px !important;
}

.domspan {
  height: 30px;
  border-radius: 30px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  background: #29bcb0;
  font-weight: 600;
}/*# sourceMappingURL=style_new.css.map */