@use '../abstract'as *;

/*----------------------------------------*/
/*  19. BRAND CSS START
/*----------------------------------------*/

.brand {
    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__more {
        margin-top: 52px;

        & .link-btn {
            color: $black;

            &:hover {
                color: $e-blue;
            }
        }
    }
}

.brand__area {
    .brand__item {
        @include img_container(100px, 75px);
        border: 1px solid rgb(215, 215, 215);

        img {
            @include img_size(cover)
        }
    }
}